@import "./_fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: "IRANSans", sans-serif;
  letter-spacing: 0;
}

body {
  font-family: "IRANSans", sans-serif;
}
