@font-face {
  font-family: "IRANSans";
  src: url("~@/assets/fonts/IRANSans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSans";
  src: url("~@/assets/fonts/IRANSans_Black.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSans";
  src: url("~@/assets/fonts/IRANSans_Bold.woff2") format("woff2");
  font-weight: 800;
}
