@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans_Black.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans_Bold.ttf") format("truetype");
  font-weight: 800;
}
